
<ul id ="menu_bar">

	<li><%= link_to 'Blog', controller: 'articles' %></li>
	<li><%= link_to 'New article', new_article_path %> </li> <!--creates hyperlink and where to go, path: articles -->
	<li><%= link_to 'Sign up', new_user_path %></li>

</ul>

<table id ="blog_table">
	<th id="blog_header">Listing articles</th>
	<th id="blog_preview">Article preview</th>
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th colspan="3"></th>
	</tr>
	
	<% @articles.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.text %></td>
			<td><%= link_to 'Show', article_path(article) %></td>
			<td><%= link_to 'Edit', edit_article_path(article) %></td>
			<td><%= link_to 'Destroy', article_path(article),
							method: :delete,
							data: {confirm: 'Are you sure?'} %></td>
 		</tr>
	<% end %>
</table>